@charset "UTF-8";

.titlebox {
	height: 30px;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	bottom: -7px;
}

.titletext {
	color: #000000;
	font-size: 22px;
}

.graytext {
	color: #8b8b8b;
}

.subtitle {
	color: #5cacee;
	text-align: center;
}

.rightbtn {
	border-right: 10px;
	float: right;
	margin-left: 10px;
}

.heading {
	margin-top:-10px;
	margin-bottom:-10px;
}

.centerText {
	text-align: center;
}

.uploadstatusbox {
	color: #9C9C9C;
	height: 48px;
	overflow: auto;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.loading {
	line-height: 56px;
	color: #545454;
	padding-left: 60px;
	font-size: 15px;
	background: #FFFFFF url(loading.gif) no-repeat 10px 50%;
	opacity: 0.7;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.wordbreak{
	word-break:break-all
}